<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!-- <p>Form value: {{form.value | json}}</p>
      <p>Form valid: {{form.status | json}}</p> -->
      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Nome</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.nome)"
            formControlName="nome" placeholder="Insira o Tema">
          <div *ngIf="f.nome.errors?.required" class="invalid-feedback">
            Nome é obrigatório.
          </div>
          <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">
            Nome deve ter no mínimo 4 caracteres.
          </div>
          <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">
            Nome deve ter no máximo 50 caracteres.
          </div>
          </div>
          <div class="form-group col-md-7">
            <label>Sobrenome</label>
            <input type="text" class="form-control" [ngClass]="cssValidator(f.sobrenome)"
              formControlName="sobrenome" placeholder="">
            <div *ngIf="f.sobrenome.errors?.required && f.sobrenome.touched" class="invalid-feedback">
              Sobrenome é obrigatório.
            </div>
          </div>

          <div class="form-group col-md-2">
            <label>Data de Nascimento</label>
            <input type="datetime" class="form-control"
              [ngClass]="cssValidator(f.dataNascimento)"
              value="{{usuario.dataNascimento | DateFormatPipe}}"
              bsDatepicker
              [bsValue]="bsValue"
              [maxDate]="maxDate"
              [bsConfig]="bsConfig"
              formControlName="dataNascimento" placeholder="">
            <div *ngIf="f.dataNascimento.errors?.required && f.dataNascimento.touched" class="invalid-feedback">
              Data de nascimento é obrigatório.
            </div>
          </div>
      </div>

      <div class="form-row">

      <div class="form-group col-md-8">
        <label>E-mail</label>
        <input type="text" class="form-control" [ngClass]="cssValidator(f.email)"
          formControlName="email" placeholder="e-mail">
        <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
          E-mail é obrigatório.
        </div>
        <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
          Deve ser um endereço de e-mail válido
        </div>
      </div>

      <div class="form-group col-md-4">
        <label>Escolaridade</label>
        <select formControlName="escolaridadeId" class="form-control"
        [ngClass]="{ 'is-invalid': f.escolaridadeId.errors && f.escolaridadeId.touched }">
        <option value=""></option>
        <option value="1">Infantil</option>
        <option value="2">Fundamental</option>
        <option value="3">Médio</option>
        <option value="4">Superior</option>
      </select>
      <div *ngIf="f.escolaridadeId.errors && f.escolaridadeId.touched" class="invalid-feedback">
        <div *ngIf="f.escolaridadeId.errors.required">Escolaridade é obrigatório</div>
      </div>
    </div>
    </div>
    </div>

    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="salvarUsuario()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Usuario
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card rounded shadow-sm mt-4" *ngIf="modoEditar">
  <!-- <p>Form value: {{form.controls.historicosEscolares.value | json}}</p>
  <p>Form valid: {{form.controls.historicosEscolares.status | json}}</p> -->
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="mr-auto">
        Históricos Escolares do Usuário
      </h2>
      <h2>
        <i class="fas fa-graduation-cap"></i>
      </h2>
    </div>
    <p>Clique em Histórico para adicionar e preencher novos Históricos Escolares</p>
    <div class="form-row p-1">
      <div [formGroup]="form" class="col">
        <div formArrayName="historicosEscolares" *ngFor="let historicoEscolar of historicosEscolares.controls; let i=index">
          <fieldset [formGroupName]="i" class="form-group">
            <legend class="d-flex justify-content-between capitalize">
              {{ retornaTituloHistoricoEscolar(historicosEscolares.get(i+'.nome').value) }}
              <button (click)="removerHistoricoEscolar(template, i)"
                class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                tooltip="Excluir Histórico"
                [adaptivePosition]="false"
                [delay]="500"
                placement="left">
                <i class="fa fa-window-close my-1"></i>
                <b class="ml-1 d-none d-sm-block">Excluir</b>
              </button>
            </legend>
            <div class="row">
              <div class="form-group col-md-10">
                <label>Nome</label>
                <input
                  [ngClass]="cssValidator(historicosEscolares.get(i+'.nome'))"
                  type="text"
                  class="form-control"
                  formControlName="nome"
                  placeholder="Nome">
              </div>
            </div>
            <div class="row" *ngIf="historicosEscolares.get(i+'.id').value!=0">
              <div class="form-group col-md-2">
                <label>Formato</label>
                <input
                  [ngClass]="cssValidator(historicosEscolares.get(i+'.formato'))"
                  type="text"
                  class="form-control"
                  formControlName="formato"
                  placeholder="Formato"
                  readonly>
              </div>
              <div class="form-group col-md-5">
                <label>Arquivo</label>
                <input
                [ngClass]="cssValidator(historicosEscolares.get(i+'.arquivoURL'))"
                type="text"
                class="form-control"
                formControlName="arquivoURL"
                placeholder="Arquivo não carregado..."
                readonly>
              </div>
              <div class="form-group col-md-2" *ngIf="historicosEscolares.get(i+'.id').value!=0">
                <label>Carregar arquivo</label>
                <button (click)="file.click()" class="d-flex btn btn-outline-primary">
                  <i class="fa fa-upload mb-2 text-success"></i>
                </button>
              </div>
              <div class="form-group col-md-2" *ngIf="historicosEscolares.get(i+'.id').value!=0">
                <label>Baixar arquivo</label>
                <button (click)="download(template, i)" class="d-flex btn btn-outline-primary">
                  <i class="fa fa-download mb-2"></i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <input
                (change)="this.onFileChange($event, template, i)"
                type="file"
                #file
                accept=".pdf,.doc,.docx"
                style="display: none">
              </div>
            </div>

          </fieldset>
        </div>
      </div>
    </div>
    <button (click)="adicionarHistoricoEscolar()" class="d-flex btn btn-outline-primary">
      <i class="fa fa-plus-circle my-1"></i>
      <b class="ml-1">Histórico</b>
    </button>
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border">
        Cancelar Alteração
      </button>
      <button [disabled]="!form.controls.historicosEscolares.valid" (click)="salvarHistoricosEscolares()" class="btn btn-success">
        Salvar Históricos
      </button>
    </div>
  </div>
</div>
<br>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o lote {{this.historicoEscolarAtual.nome}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteHistoricoEscolar()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteHistoricoEscolar()">Não</button>
  </div>
</ng-template>
